/* checkout-step */
.checkout-container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
.checkout-step {
    display: inline;
    padding: 5px 10px;
    list-style: none;
}
.checkout-step ul {
    width:90%;
    margin:auto;
    align-items: center;
}
.checkout-step li {
    display: inline;
}

.checkout-step li+li:before {
    padding: 8px;
    color: var(--clr-primary-green);
    content: ">\00a0";
}

.checkout-step li a {
    color: var(--clr-dark);
    font-size: 18px;
}

.checkout-step li a:hover {
    color: var(--clr-primary-blue);
}

.step-active {
    color: var(--clr-dark-blue);
    font-weight: 700;
    text-decoration: underline;

}