/* checkout-step */
.container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(216, 216, 216);
}

.checkout-step {
    display: inline;
    padding: 5px 10px;
    margin: 0 auto;
    list-style: none;
    background-color: var(--clr-neutral);
}

.checkout-step li {
    display: inline;
}

.checkout-step li+li:before {
    padding: 8px;
    color: var(--clr-primary-green);
    content: "|\00a0";
}

.checkout-step li a {
    color: var(--clr-dark);
    font-size: 18px;
}

.checkout-step li a:hover {
    color: var(--clr-primary-blue);
}

.step-active {
    color: var(--clr-dark-blue);
    font-weight: 700;
    text-decoration: underline;

}